/* Selektor dengan nama tag */
h2 {
    color: blue
}

/* Selektor dengan class */
.bg-yellow {
    background-color: yellow;
}

/* selektor dengan ID elemen */
#header {
    background: grey;
}

/* Selektor dengan Atribut */
input[type=text]{
    background: yellow;
}

/* blok atrbut dan nilai */
p {
    font-family: Arial, Helvetica, sans-serif;
}