  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      background-color: snow;
    }

    header {
      margin-bottom: 2em;
      text-align: center;
    }

    .button-cta {
      display: block;
      margin-bottom: 1em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      border: 1px solid navy;
      background-color: royalblue;
      color: white;
    }

    article {
      border: 1px solid silver;
      border-radius: 0.8em;
      padding: 1em;
      margin-bottom: 1em;
      background-color: white;
    }

    .action-buttons {
      margin-top: 1.5em;
    }

    .action-buttons button {
      display: inline;
      margin-right: 1em;
      padding: 0.5em 1em;
      border-radius: 0.8em;
      border: 1px solid silver;
    }

    footer {
      font-size: small;
      margin-top: 6em;
      text-align: center;
    }